/*index*/
#wallpaper {
    text-align: center;
    background-color: skyblue;
}
/*jogos*/

#imagens{
    text-align: center;
}

/*game life*/
#fliperama{
    background-color: black;
}


/*mudar de cor os links*/

a:hover {
    color: purple;
}

a:hover#viajar{
    color: blue;
}

/*game-life*/
.link{
    color: #5a5a5a;
    border-radius: 50px;
}


/*pagina do futuro*/

.futuro{
    background-color: white;
    color: black;
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 5px solid black;
    border-radius:10px ;

}


