#legal {
    background-color: rgba(53, 37, 37, 0.795);
    
}



#wallpaper {
    text-align: center;
    background-color: rgba(86, 102, 82, 0.555);
}


.menu a {
    color: white;
}

#titulo {
    text-align: center;
    color: #fff;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

a:hover {
    color: #fbff00;
}

.futuro{
    background-color: black;
    color: #fff;
    width: 100px;
    padding: 5px;
    border-radius:10px ;
}


/*MENU HORIZONTAL*/

.horizontal li {
    display: block;
    color: #fff;
    float: left;
}

.horizontal li a:hover {
    background-color: black;
    color: #ffffff;
}